.spanMain{
    // background: rgb(182, 74, 240);
font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
color: linear-gradient(355deg, rgba(182, 74, 240, 0.9585084033613446) 0%, rgba(204, 254, 58, 0.8716736694677871) 96%);
}
.text{
    font-weight: 400;
        font-size: 13px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: black
}