.cardContainer {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 350px;
    transition: .3s ease;
}

.card::before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.cardBackground {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: .3s ease;
}

.card:hover .cardBackground {
    transform: scale(1.1) translateZ(0);
    background-size: cover;
}

.cardContainer:hover>.card:not(:hover) {
    transform: scale(.9);
}

.cardContainer:hover>.card:not(:hover) .cardBackground,
.cardContainer:hover>.card:not(:hover) .cardMembers {


    filter: brightness(.5) saturate(0) contrast(1.2) blur(10px);
}
.content {
    width: 100%;
    top: 75%;
    left: 0;
    padding-left: 20px;
    position: absolute;
}

.cardMembers {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.cardEtablish {
    color: #fff;
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}
// @media (min-width: 768px) {
//     .cardContainer {
//         flex-wrap: wrap;
//         justify-content: flex-start;
//     }

//     .card {
//         width: calc(50% - 15px);
//         /* Adjust the gap between cards */
//         margin-bottom: 30px;
//     }
// }